### task1:

In [1]:
# print 0 10 20:
for i in range (0,21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### task2:

In [2]:
# print range 10 to 20:
for i in range (10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

### task 3:

In [11]:
# Print number of items in the list by using 'len':
list_1=[1,45,87,98,65,87,25]
# for items in list_1:
#     print(items)
print(list_1)
print(f"\nThe length of the list is {len(list_1)}.")

[1, 45, 87, 98, 65, 87, 25]

The length of the list is 7.

In [9]:
# small change in task 3 :
list_1=[1,45,87,98,65,87,25]
for index,items in enumerate(list_1,start=1):
    print(f"Index {index} : {items}\n")
print(f"The length of the list is {len(list_1)}.")

Index 1 : 1

Index 2 : 45

Index 3 : 87

Index 4 : 98

Index 5 : 65

Index 6 : 87

Index 7 : 25

The length of the list is 7.

### task 4:

In [14]:
ai="ARTIFICIAL INTELLIGENCE"
for items in ai:
    print(items)

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

### task 5:

In [15]:
list_2=['name','age','profession']
for i in list_2:
    print(f"-{i}-")

-name-
-age-
-profession-

### task 6:

In [16]:
# 1
mute=(5,"raja",2.0,"kirmaada")
print(mute)

(5, 'raja', 2.0, 'kirmaada')

In [19]:
# 2
tup1=(1,"tun_tun_anty",54)
tup2=("bigg_boss",9,"Tamil")
print(tup1,',',tup2)

(1, 'tun_tun_anty', 54) , ('bigg_boss', 9, 'Tamil')

### task 3:

In [8]:
# find odd number:
list_num=[1,45,7,8,6,3,48,2]
for num in list_num:
    if num%2==0:
        continue
    else:
        print(f"{num} is odd.")

1 is odd.
45 is odd.
7 is odd.
3 is odd.

In [ ]:
list_num=[1,45,7,8,6,3,48,2]
for num in list_num:
    if num%2==0:
        print(f"{num} is even.")
    else:
        print(f"{num} is odd.")